<table>
  <thead>
    <tr>
      <th>MESSAGES</th>
      <th>TODAY</th>
      <th>YESTERDAY</th>
      <th>LAST WEEK</th>
    </tr>
  </thead>
  <tbody>
    <tr class="status_tag level_positive">
      <td>POSITIVE</td>
      <td><%= data[:today][:positive] %></td>
      <td><%= data[:yesterday][:positive] %></td>
      <td><%= data[:last_week][:positive] %></td>
    </tr>
    <tr class="status_tag level_negative">
      <td>NEGATIVE</td>
      <td><%= data[:today][:negative] %></td>
      <td><%= data[:yesterday][:negative] %></td>
      <td><%= data[:last_week][:negative] %></td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td><%= data[:today][:total] %></td>
      <td><%= data[:yesterday][:total] %></td>
      <td><%= data[:last_week][:total] %></td>
    </tr>
  </tbody>
</table>